<!DOCTYPE html>
<html>
    <head>
        <title>Authenticate - Eastbots Scouting</title>
        <%- include('../partials/header') %>
        <link rel="stylesheet" href="/styles/authenticate.css" type="text/css">
    </head>
    <body>
        <div class="container-fluid">
        	<h1>Eastbots Scouting System</h1>
       		<form method="POST" action="/authenticate">
                <input type="password" name="password" placeholder="Password">
                <button type="submit">Submit</button>   
            </form>
        </div>
    </body>
</html>