<!DOCTYPE html>
<html>
    <head>
        <title>Internal Error - Eastbots Scouting</title>
        <%- include('../partials/header') %>
    </head>
    <body>
        <%- include('../partials/navbar') %>
        <div class="container-fluid">
        	<h1>Internal Server Error</h1>
        </div>
    	<%- include('../partials/footer') %>
    </body>
</html>