<!DOCTYPE html>
<html>
    <head>
        <title>Home - Eastbots Scouting</title>
        <link rel="stylesheet" href="styles/index.css" type="text/css"/>
        <%- include('../partials/header') %>
    </head>
    <body>
    	<h1>Eastbots Scouting System</h1>
   		<h2>
            <a id="statsLink" href="/stats">Statistics</a>
        </h2>
        <div id="matches"></div>
        <%- include('../partials/footer') %>
        <script src="scripts/index.js"></script>
    </body>
</html>