<!DOCTYPE html>
<html>
    <head>
        <title>Match - Eastbots Scouting</title>
        <%- include('../partials/header') %>
        <link rel="stylesheet" href="/styles/match.css" type="text/css"/>
    </head>
    <body>
        <div class="container-fluid">
            <a href="/">Home</a>
            <div id="red"></div>
            <div id="blue"></div>
        </div>
        <%- include('../partials/footer') %>
        <script src="../scripts/idb.js"></script>
        <script src="../scripts/store.js"></script>
        <script src="../scripts/match.js"></script>
    </body>
</html>