<!DOCTYPE html>
<html>
    <head>
        <title>Offline - Eastbots Scouting</title>
        <link rel="stylesheet" href="/styles/index.css" type="text/css"/>
        <%- include('../partials/header') %>
    </head>
    <body>
        <a href="/">Home</a>
    	<h1>Page Unavailable Offline</h1>
    	<h2>Try again once you reconnect</h2>
        <%- include('../partials/footer') %>
    </body>
</html>