<!DOCTYPE html>
<html>
    <head>
        <title>Team - Eastbots Scouting</title>
        <%- include('../partials/header') %>
        <link rel="stylesheet" href="/styles/team.css" type="text/css"/>
    </head>
    <body>
        <div class="container-fluid">
            <a href="/">Home</a>
            <h1 id="name"></h1>
            <h2>Totals and Averages</h2>
            <div class="container-fluid">
                 <div id="totals" class="row"></div>
            </div>
            <h2>Matches</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-sm">
                    <thead id="matches-head"></thead>
                    <tbody id="matches-body"></tbody>
                </table>
            </div>
        </div>
        <%- include('../partials/footer') %>
        <script src="../scripts/team.js"></script>
    </body>
</html>