<!DOCTYPE html>
<html>
    <head>
        <title>Team - Eastbots Scouting</title>
        <link rel="stylesheet" href="../styles/team.css" type="text/css"/>
        <%- include('../partials/header') %>
    </head>
    <body>
        <a href="/">Home</a>
        <div id="info">
        	<h1 id="name"></h1>
        	<h2>Totals and Averages</h2>
        	<div id="totals"></div>
        	<h2>Matches</h2>
        </div>
        <%- include('../partials/footer') %>
        <script src="../scripts/team.js"></script>
    </body>
</html>