.match {
    text-decoration: none !important;
    color: black !important;
    user-select: none;
}

.match:hover {
    background-color: rgb(220, 220, 220);
}

.match span {
    display: inline-block;
    padding: 1vh;
}

.team {
    float: right;
    padding: 1vh;
    width: 50px;
    display: inline-block;
    text-align: center;
    color: white;
}

.red {
    background-color: rgb(255, 75, 75);
}

.blue {
    background-color: rgb(75, 75, 255);
}

.own {
    background-color: rgb(100, 255, 150);
}

.own:hover {
    background-color: rgb(75, 230, 75);
}