#stats-link {
    text-decoration: underline;
}

.match {
    text-decoration: none !important;
    color: black !important;
}

.match:hover {
    background-color: rgb(200, 200, 200);
}

.team {
    float: right;
    padding: 1vh;
    width: 50px;
    display: inline-block;
    text-align: center;
    color: white;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.own {
    background-color: rgb(100, 255, 150);
}

.own:hover {
    background-color: rgb(75, 230, 75);
}