h3 {
	margin: 0px;
}

button {
	width: 50px;
	height: 50px;
	font-size: x-large;
	border: 1px solid rgb(200, 200, 200);
	background-color: rgb(250, 250, 250);
}

button:hover {
	background-color: rgb(220, 220, 220);
}

input[type="checkbox"] {
	/*-webkit-appearance: none;*/
	width: 50px;
	height: 50px;
	/*position: relative;*/
	cursor: pointer;
	/*border: 1px solid rgb(200, 200, 200);
	background-color: rgb(250, 250, 250);
	box-shadow: none;*/
}

/*input[type="checkbox"]:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}*/

.wrapper {
	width: 100%;
	color: white;
}

/*.wrapper[target="true"] .cell {
	width: 20% !important;
}

.wrapper[target="true"] .cell button {
	width: 5vw !important;
	height: 5vw !important;
}

.wrapper[target="true"] .cell .input {
	height: 5vw !important;
	max-height: 5vw !important;
}*/

.wrapper h3 a {
	color: white;
	text-decoration: underline;
}

.cell {
	font-weight: bold;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.input {
	width: 80%;
	min-height: 50px;
	max-height: 50px;
	font-family: 'Roboto', sans-serif;
}

.increase {
	color: green;
}

.decrease {
	color: red;
}