td a {
	text-decoration: underline;
}

#menu {
	float: right;
}

#menu button, select {
	border: 1px solid lightgray;
	background-color: white;
}

#menu button:hover {
	background-color: rgb(220, 220, 220);
}