th {
	position: sticky;
	top: -1px;
	background-color: white;
	box-shadow: inset 0px 0.5px #dee2e6, 0px 0.5px #dee2e6;
}

td a {
	text-decoration: underline;
}

#menu {
	float: right;
}

#menu button, select {
	border: 1px solid lightgray;
	background-color: white;
}

#menu button:hover {
	background-color: rgb(220, 220, 220);
}